


{% extends "layout.html" %}
{% block add_user %}
<!--<a class="btn btn-primary" style="background-color:#4bb5f5;margin-left: 82px" href="{{ url_for('admin.userlist') }}" role="button">Back</a>-->
{% endblock %}
{% block content %}
    <div class="content-section register-section">
<!--        <a class="btn btn-primary" style="background-color:#4bb5f5;margin-left: 82px" href="{{ url_for('admin.userlist') }}" role="button">Back</a>-->
        <form method='post' action="add_user">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <legend>

                    <div class="row" style="margin-top: 20px;">
                      <div class="col-xs-8 text-left">
                        <legend class="border-bottom mb-4" style="text-align:center;margin-left: 342px">Add New User</legend>
                      </div>
                         <div class="col-xs-4 text-right">
                         <a class="btn btn-primary" style="background-color:#4bb5f5;margin-left: 270px" href="{{ url_for('admin.userlist') }}" role="button">Back</a>
                      </div>
                    </div>
                </legend>

<!--           <legend class="border-bottom mb-4" style="text-align:center">Add New User</legend>-->
                <div class="form-group" style="margin-left: 420;padding-right: 365;" >
                    {{ form.full_name.label(class="form-control-label") }}

                    {% if form.full_name.errors %}
                        {{ form.full_name(class="form-control form-control-sm is-invalid",style="padding-left:10px") }}
                        <div class="invalid-feedback" >
                            {% for error in form.full_name.errors %}
                                <span >{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.full_name(class="form-control form-control-sm",style="width:325px") }}
                    {% endif %}
                </div>
                <div class="form-group" style="margin-left: 420;padding-right: 365;">
                    {{ form.login_id.label(class="form-control-label",style="padding-left:10px") }}
                    {% if form.login_id.errors %}
                        {{ form.login_id(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.login_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.login_id(class="form-control form-control-sm",style="width:325px") }}
                    {% endif %}
                </div>

                <div class="form-group" style="margin-left: 420;padding-right: 365;">
                    {{ form.password.label(class="form-control-label",style="padding-left:10px") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-sm",style="width:325px") }}
                    {% endif %}
                </div>
                <div class="form-group" style="margin-left: 420;padding-right: 365;">
                    {{ form.confirm_password.label(class="form-control-label",style="padding-left:10px") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-sm",style="width:325px") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="float:right;margin-right:365px" >
                {{ form.submit(class="btn btn-outline-info",style="background-color:#4bb5f5;color:white" ,value="Add") }}
            </div>
        </form>
    </div>
{% endblock content %}
